<fieldset class="role-toggle">
    <legend>Role</legend>
    <input type="radio" name="Role" id="Role_Leader" value="1" checked />
    <label for="Role_Leader">Leader</label>
    <input type="radio" name="Role" id="Role_Follower" value="2" />
    <label for="Role_Follower">Follower</label>
</fieldset>
